*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Cormorant Garamond', sans-serif;
}   
body{
    background-color: #81d2e6;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    transition: background-color 0.3s ease  ;
}
.header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 90px;
    justify-content: center;
    align-items: center;
    
}
.logo{
    align-items: center;
    justify-content: center;   
    margin: 0 auto;
    z-index: 10000;
}
.logo-img{
    width: 36px;
    height: 47px;
    fill: #443e37;
    margin: 0 auto;
    transition: color 0.3s ease;
    margin-top: 34px;
}
.body{
    width: 100%;
}
.archive{
    color: #443e37;
    display: flex;
    transition: all 0.1s ease;
    margin: 8px 22px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.archive-first{
    margin-right: 40px;
}
.archive svg path {
    fill: currentColor;
}
.comma{
    transform: translateY(-94px);
}
.archive__info{
    width: 100%;
    text-align: center;
    position: relative;
    top: -86px;
    
}
.archive__info-link{
    text-decoration: none;
    font-size: 1.8rem;
    color: #f9f9dd;
    transition: all 0.4s ease;
    border: 2px solid transparent;

}
.archive__info-link:hover{
    border-color: #443e37;
    color: #443e37;
    border-radius: 5px;
    padding: 0 2px;
    background-color: #81d2e6;
}
.box-img{
    height: 1350px;
    margin: 70px 134px 0;

}
.text{
    width: 100%;
    height: 36px;
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    color: #443e37;
    opacity: 0.7;
    transition: all 0.3 ease ;

}
.text1{
    opacity: 0;
}
.text2{
    opacity: 0;
}


.slider{
    margin: 30px 0 100px;
    width: 100%;
    height: 354px;
    overflow: hidden;
    position: relative;
    align-items: center;
}
.slider::after,
.slider::before{
    content: "";
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    z-index: 3;
    pointer-events: none;
    transition: background-color 1s ease;
    
}

.slider::after{
    right: 0;
    background: linear-gradient(to left, #81d2e6 0%, transparent 50%);
}
.slider::before{
    left: 0;
    background: linear-gradient(to right, #81d2e6 0%, transparent 50%);
}

.slider.change-color::after{
    right: 0;
    background: linear-gradient(to left, #f9f9dd 0%, transparent 50%);
}
.slider.change-color::before{
    left: 0;
    background: linear-gradient(to right, #f9f9dd 0%, transparent 50%);
}
.track {
    position: absolute;
    top: 0;
    display: flex;
    gap: 40px;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
  }
  
a.slide{
    display: block;
    width: 500px;
    height: 354px;
    /* background-color: blueviolet; */
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;

}
.slide_header{
    width: 100%;
    height: 40px;
    display: flex;
    font-family: 'roboto',sans-serif;
    color: #443e37;
    font-size: 1.2rem;
    align-items: center;
}   
.slide_name{

}
.slide_date{
    margin-left: auto;
}
.slide_img{
    border-radius: 12px;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: burlywood;
    filter: brightness(0.8) saturate(0.6);
    transition: all 0.4s ease;
}
.slide::after{
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 300px;
    top: 40px;
    border-radius: 12px;
    background-color: #81d2e6;
    opacity: 0.3;
    transition: opacity 0.4s ease;
    z-index: 2;
}
.slide_img:hover{
    filter:brightness(1.05) saturate(1.2);
    transform: scale(1.05);

}
.slide:hover::after{
    opacity: 0;
}

.footer{
    width: 100%;
    height: 470px;
    margin-top: 190px;
}
.defaut{
    position: relative;
    display: block;
}

.contact{
    text-align: end ;
    display: block;
    padding-top: 80px;
    text-decoration: none;
    color: #81d2e6;
    font-size: 1.2rem;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
}
.word-box{
    width: 100%;
    margin-left: 12px;
}
.get-in-touch{
    display: flex;
    width: 648px;
    
}

.get{
    margin-top: 8px;
}
.g{
    transform: translateY(22px);
}

.get-in-touch .in{
    margin: 30px 30px 0;
}

.hover{
    display: none;
    position: relative;
    top: -105px;
}
.a{
    transform: translateY(22px);
}

@keyframes SlideUp {
    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 0.9;
    }
}