*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Cormorant Garamond', sans-serif;
}   
body{
    background-color: #f9f9dd;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    transition: background-color 0.3s ease  ;
}
.header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 90px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10000;
}

.logo{
    align-items: center;
    justify-content: center;   
    margin: 0 auto;
    z-index: 10000;

}
.logo-img{
    width: 36px;
    height: 47px;
    fill: #443e37;
    margin: 0 auto;
    transition: color 0.3s ease;
    margin-top: 34px;
}
.header:hover .logo{
    opacity: 1 !important;
}
.body{
    width: 100%;
    margin-top: 100px;
}
.archive{
    color: #81d2e6;
    display: flex;
    transition: all 0.1s ease;
    margin: 8px 22px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.archive-first{
    margin-right: 40px;
}
.archive svg path {
    fill: currentColor;
}
.comma{
    transform: translateY(-94px);
}
.archive__info{
    width: 100%;
    text-align: center;
    position: relative;
    top: -86px;
    font-family: 'roboto',sans-serif;

    
}
.archive__info-link{
    text-decoration: none;
    font-size: 1.8rem;
    color: #443e37;
    transition: all 0.4s ease;
    border: 2px solid transparent;
    font-size: 1.4rem;
    font-weight: 500;

}
.archive__info-link:hover{
    border-color: #81d2e6;
    color: #81d2e6;
    border-radius: 5px;
    padding: 0 2px;
    background-color: #f9f9dd;
}
.body-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    font-size: 1.4rem;
    font-family: 'roboto',sans-serif;
    font-weight: 300;
    opacity: 0.8;
}

.content-1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main_img{
    height: 660px;
    width: 920px;
    
}
.main_img-header{
display: flex;
justify-content: space-between;
font-size: 1.4rem;
font-family: 'roboto',sans-serif;
font-weight: 500;
opacity: 0.8;
}
.img-name{

}
.img-date{

}
.main_img-img{
    width: 860px;
    height: 570px;
    background-position: center;
    background-size: cover;
    margin: 40px 30px;
}

.content-2{
    display: flex;
    width: 100%;
    height: 340px;
    justify-content: center;
    align-items: center;
}
.brand{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-58px);
}
.cho{
    margin-bottom: 4px;
}
.o{
    transform: translateY(10px);
}
.info{
    width: 500px;
    height: 100%;
    font-size: 1.5rem;
    font-family: 'roboto',sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-2{
    margin: 20px 0;
}
.cre{
    transform: translateY(20px);
    color: #81d2e6;
    align-self: flex-start;

}
.content-3{
    width: 100%;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spine{

    width: 96px;
    height: 810px;
    background-position: center;
    background-size: cover;
    transform: rotate(90deg);
}
.content-4{
    height: 500px;
    width: 100%;
    margin-bottom: 30px;
}
.pic-before,
.pic-after{
    height: 502px;
    background-size: cover;
    background-position: center;
}
.content-5{
    width: 100%;
    height: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.large-img{
    height: 914px;
    width: 1473px;
    background-size: cover;
    background-position: center;
}
.content-6{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-img{
    width: 320px;
    height: 424px;
    background-size: cover;
    background-position: center;
}
.content-7{
    width: 100%;
    height: 864px;
    background-color: #f05824;
    position: relative;

}
.book-img{
    width: 680px;
    height: 490px;
    position: absolute;
    text-align: center;
    inset: 0;
    margin: auto;
}
.img-1{
    background-color: #81d2e6;
    z-index: 1;
}
.img-2{
    background-color: aliceblue;
    z-index: 2;
    transform: rotate(6deg);
}
.img-3{
    background-color: antiquewhite;
    z-index: 3;
    transform: rotate(-5deg);
}
.img-4{
    background-color: bisque;
    z-index: 4;
    transform: rotate(10deg);
}
.img-5{
    background-color: blueviolet;
    z-index: 5;
    transform: rotate(-10deg);
}
.img-6{
    background-color: cadetblue;
    z-index: 6;
    transform: translateX(10px);
}
.img-7{
    background-color: chartreuse;
    z-index: 7 ;
    transform: rotate(-6deg);
}
.img-8{
    background-color: cornflowerblue;
    z-index: 8;
    transform: rotate(3deg);
}
.img-9{
    background-color: darkorchid;
    z-index: 9;
    transform: rotate(-13deg);
}
.img-10{
    background-color: lightslategray;
    z-index: 10;
    transform: translate(10px, -10px);
}

.display{
    display: none;
}
.content-8{
    width: 100%;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.xebandua{
    width: 548px;
    height: 282px;
    background-position: center;
    background-size: cover;
}